@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Ubuntu:wght@500&display=swap");
:root {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: black;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.new-entry-form label {
  font-family: "Ubuntu", sans-serif;
  color: #f3eed9;
  text-shadow: 2px 2px #222c2a;
  text-align: center;
  margin: 5px 0px;
}

p {
  font-family: "Kaisei Opti", serif;
  color: #f3eed9;
  background-color: rgba(6, 65, 13, 0.808);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6745098039);
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.6745098039);
}

textarea {
  justify-content: flex-start;
  background: rgba(122, 122, 122, 0.801);
  color: #f3eed9;
  width: 22rem;
  border-radius: 2px;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px 1px #222c2a;
}

form input,
form select, option {
  padding: 6px;
  width: 18rem;
  margin-top: 0;
  color: #f3eed9;
}

button {
  border-radius: 24px;
  padding: 0.3rem;
  text-decoration: none;
  color: #f3eed9;
  background: rgb(7, 104, 20);
  text-shadow: 2px 2px #222c2a;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

button:hover {
  color: #fff;
}

.prompts-cards {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  align-items: center;
  padding: 0;
}
.prompts-cards li {
  background: rgb(12, 129, 26);
  color: #f3eed9;
  padding: 1rem;
  border: 1px solid rgb(13, 13, 13);
  border-radius: 10px;
  width: 100%;
}
.prompts-cards li a {
  text-decoration: none;
  color: #f3eed9;
}

#auth-form {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}
#auth-form input {
  color: rgb(19, 19, 19);
  margin-bottom: 0.5rem;
}

.app {
  margin: 0;
  font-family: "Kaisei Opti", serif;
  line-height: 1.6;
}
.app hr {
  width: 75%;
}
.app header {
  background: rgb(7, 104, 20);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0;
}
.app header .logo-container {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.app header .logo-container .logo {
  width: 9rem;
}
.app header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  background: rgb(7, 104, 20);
}
.app header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.app header nav ul li {
  margin-bottom: 1em;
  margin-left: 1em;
}
.app header nav ul li .nav-link:hover {
  color: #000;
}
.app header nav ul .form-search-bar {
  background-color: #fff;
  text-align: center;
  height: auto;
  width: 23em;
  background: transparent;
}
.app header nav ul .form-search-bar form .search-button,
.app header nav ul .form-search-bar form .search-bar {
  background: transparent;
  box-shadow: 2px 2px 2px 1px #222c2a;
}
.app header nav ul .form-search-bar form .search-button:hover {
  color: #000;
}
.app header .nav-toggle {
  display: none;
}
.app header .nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.app header .nav-toggle:checked ~ nav .nav-link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.app header .nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.app header .nav-toggle-label span,
.app header .nav-toggle-label span::before,
.app header .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.app header .nav-toggle-label span::before,
.app header .nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.app header .nav-toggle-label span::before {
  bottom: 7px;
}
.app header .nav-toggle-label span::after {
  top: 7px;
}
.app .content {
  position: relative;
  display: grid;
  height: 100vh;
}
.app .content:before {
  content: "";
  background-image: url("https://picsum.photos/1500/1800");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
.app .content .content-container {
  position: relative;
  background-color: rgba(6, 65, 13, 0.644);
  width: 100%;
  place-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4.2rem;
}
.app .content .content-container .affirmation-cont {
  background-color: rgba(82, 82, 82, 0.705);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
.app .content .content-container .templates-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
}
.app .content .content-container .templates-list li .template-image {
  height: auto;
  width: 400px;
  padding: 20px;
  background-color: rgba(6, 65, 13, 0.644);
}
.app .content .content-container .templates-list li *,
.app .content .content-container .all-entries li * {
  color: #f3eed9;
  text-decoration: none;
}
.app .content .content-container .new-entry-form {
  margin-top: 0;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .content .content-container .new-entry-form * {
  padding: 0.8rem;
}
.app .content .content-container .new-entry-form input, .app .content .content-container .new-entry-form select {
  background: rgb(7, 104, 20);
  font-size: 1.2rem;
}
.app .content .content-container .scratch-pad-form {
  height: auto;
  margin-bottom: 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.app .content .content-container .scratch-pad[type=text],
.app .content .content-container .new-entry-form input[type=text] {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.app .content .content-container .all-entries {
  display: flex;
  list-style: none;
  background-color: rgba(122, 122, 122, 0.801);
  padding-left: 0;
  width: auto;
  margin-top: 0;
  justify-content: center;
  flex-direction: column;
}
.app .content .content-container .all-entries li .entry {
  color: #f3eed9;
  margin-top: 0.4em;
  max-width: 50em;
}
.app .content .content-container .all-entries li .entry p {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.7em;
}
.app .content .content-container .all-entries li .entry p b {
  color: #f3eed9;
  font-weight: 1000;
  font-size: 1em;
}
.app .content .content-container .all-entries li .entry p .prompt-entry {
  background-color: rgba(6, 65, 13, 0.808);
  color: #f3eed9;
  font-size: 0.75em;
  padding: 2px 7px;
}
.app .content .content-container .all-entries li .entry .entry-image-container {
  display: flex;
  justify-content: center;
}
.app .content .content-container .all-entries li .entry .entry-image-container .entry-image {
  display: flex;
  max-height: auto;
  max-width: 500px;
  justify-content: center;
}
.app .content .content-container .all-entries li .entry .affirmation {
  margin: 3px 5px;
  text-align: center;
  background-color: rgba(82, 82, 82, 0.452);
}
.app .content .content-container .all-entries li .entry .entry-btn-container {
  display: flex;
  justify-content: space-around;
}
.app .nav-link {
  color: #222c2a;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}
.app .sp-submit-btn,
.app .logout-btn,
.app .member-btn {
  background: rgb(7, 104, 20);
  color: #f3eed9;
  box-shadow: 2px 2px 2px 1px #222c2a;
  padding-left: 0.8em;
  padding-right: 0.8em;
  text-shadow: 2px 2px #222c2a;
}
.app .search-button > *,
.app .sp-submit-btn > *,
.app .logout-btn > * {
  padding: 0.8em;
  text-decoration: none;
  font-size: 1rem;
  background: transparent;
  color: #f3eed9;
  text-shadow: 2px 2px #222c2a;
}

@media screen and (min-width: 800px) {
  .app .content .content-container .all-entries {
    max-width: 22em;
  }
  .app .nav-link,
  .app .search-button,
  .app .sp-submit-btn,
  .app .edit-btn,
  .app .delete-btn,
  .app .logout-btn {
    position: relative;
  }
  .app header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .app header .nav-toggle-label {
    display: none;
  }
  .app header .logo-container .logo {
    grid-column: 1/2;
  }
  .app header nav {
    all: unset;
    grid-column: 3/5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
  }
  .app header nav ul {
    display: flex;
  }
  .app header nav ul li {
    margin-bottom: 0;
  }
  .app header nav ul li .nav-link::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  .app header nav ul li .nav-link:hover::before {
    transform: scale(1, 1);
  }
}/*# sourceMappingURL=styles.css.map */